﻿<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
       @{ 
           var student = ViewData["Student"] as richa_asp.netexp2_18aug.Models.Students ;
               }

    <div>
         <p> Student Id : @student.studentID</p>
        <p> Student Name : @student.Name</p>
        <p> Student Section : @student.sec</p>
        <p>Student Gender : @student.gender</p>
    </div>
    
    </div>