﻿

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <header>@ViewData["title"]</header>
    <h2>@ViewBag.someexample</h2>
    @Html.ActionLink("Go to Privacy", "Privacy");
    @Html.ActionLink("Go to Details", "Details");
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
