﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
   <h2> @ViewData["Heading"]</h2>
    <h2>@ViewBag.info</h2>
    @{ 
        var student = ViewBag.student as richa_studentrecord_19aug.Models.Students;
    }
<p> Student Id :  @student.id</p>
    <p>
        Student Name : @student.name 
    </p>
</div>
