﻿@model IEnumerable<richa_studentrecord_19aug.Models.Students>;
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    @Html.ActionLink("Home", "Index");
    <h2>@ViewData["Heading"]</h2>
    <div>
        <ul>
            @{ 
                foreach (var item in Model)
                {
                    <li>@item.id | @item.name </li>
                }
            }
        </ul>
    </div> 
</div>
