﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    @Html.ActionLink("Details", "Details");
    @Html.ActionLink("DetailList", "DetailList");
    @Html.ActionLink("Single Student Detail", "Singlestud");
    @Html.ActionLink("Add Students", "Addstud");



</div>
