﻿

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h2>@ViewData["title"]</h2>
    <h2>@ViewBag.info</h2>
    <p>@act</p>
</div>
