﻿@model IEnumerable<richa_crudapplication_19aug.Models.Student>
<div>this is the details page</div>
@{
    var student = ViewData["Student"] as richa_crudapplication_19aug.Models.Student;
}
<div>
   <div> Student Id:@student.StudentId</div>
   <div> Student Name:@student.StudentName</div>
   <div> Section: @student.Section</div>
   <div> Grade:@student.Grade</div>
    <div>Gender:@student.Gender</div>
</div>
