﻿﻿<h2>Students Table</h2>

<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">S.No</th>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">DateOfBirth</th>
                <th scope="col">Gender</th>
                <th scope="col">DateOfJoining</th>
                <th scope="col">Course</th>
                <th scope="col">Stream</th>
                <th scope="col">Section</th>
                <th scope="col">Grade</th>
                <th scope="col">Delete</th>
                <th scope="col">Modify</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.students)
            {
                <tr>
                    <th scope="row">@( ((Int32) 1) + ViewBag.students.IndexOf(item) )</th>
                    <td>@item.StudentId</td>
                    <td>@item.StudentName</td>
                    <td>@item.Gender</td>
                    <td>@item.DOB</td>
                    <td>@item.DOJ</td>
                    <td>@item.course</td>
                    <td>@item.stream</td>
                    <td>@item.Section</td>
                    <td>@item.Grade</td>
                    <td>
                        <form action="@Url.Action("Delete",new { id=@item.StudentId} )" method="post">
                            <input class="btn btn-danger" type="submit" value="Delete" />
                        </form>
                    </td>
                    <td>
                        <form action="@Url.Action("Update",new { id=@item.StudentId})" method="post">
                            <input class="btn btn-primary" type="submit" value="Update" />
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@if (@ViewBag.message != null)
{
    <script type="text/javascript">
            $(function () {
                alert("@ViewBag.message")
            });
    </script>
}