﻿@model richa_crudapplication_19aug.Models.Student

<div>
    @{ 
        using (Html.BeginForm())
            {
                @Html.LabelFor(o=>o.StudentName)
                @Html.TextBoxFor(o=>o.StudentName)
               @Html.LabelFor(o=>o.Section)
               @Html.TextBoxFor(o=>o.Section)
               @Html.LabelFor(o=>o.Grade)
               @Html.TextBoxFor(o=>o.Grade)
               @Html.LabelFor(o=>o.Gender)
               @Html.TextBoxFor(o=>o.Gender)
               @Html.LabelFor(o=>o.DOB)
               @Html.TextBoxFor(o=>o.DOB)
               @Html.LabelFor(o=>o.DOJ)
               @Html.TextBoxFor(o=>o.DOJ)
               @Html.LabelFor(o=>o.stream)
               @Html.TextBoxFor(o=>o.stream)
               @Html.LabelFor(o=>o.course)
               @Html.TextBoxFor(o=>o.course)
            <input type="submit" value="Update Student"/>
            }
    }
</div>

